nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  background-color: #171717;
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.component{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93.2vh;
  font-size: 50px;
}
.home{
  background-color: #3D8361;
  color: #fff;
}
.about{
  background-color: #D6CDA4;
  color: #1C6758;
}
.serv{
  background-color: #1C6758;
  color: #fff;
}
.contact{
  background-color: #EEF2E6;
  color: #41795e;
}